* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
}

.top {
    text-align: center;
    margin-bottom: 20px;
    background-color:#009c4b;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}